.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
}

.action-button {
    min-width: 200px;
    height: 40px;
}

.modal-footer-buttons {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
}

.modal-footer-buttons .ant-btn {
    flex: 1;
    width: 100%;
    height: 40px;
    min-width: unset !important; 
}

.ant-input,
.ant-picker,
.ant-select-selector,
.ant-input-affix-wrapper {
    height: 40px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
    display: flex;
    align-items: center;
}

.ant-input-affix-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.ant-input-affix-wrapper > input.ant-input {
    height: 100% !important;
    border: none !important;
}

.ant-select-single .ant-select-selector {
    display: flex !important;
    align-items: center !important; 
}

.ant-select {
    width: 100% !important;
}

.ant-input, 
.ant-picker, 
.ant-select-selector,
.ant-input-affix-wrapper {
    border-color: #d9d9d9; 
}

.ant-input:focus, 
.ant-picker-focused, 
.ant-select-focused .ant-select-selector,
.ant-input-affix-wrapper-focused {
    border-color: #376B7E !important;
    box-shadow: 0 0 0 2px rgba(55, 107, 126, 0.2) !important;
}

/* Responsive */
@media (max-width: 576px) {
    .button-group {
        flex-direction: column;
        align-items: stretch;
    }

    .action-button {
        width: 100% !important;
        min-width: unset !important;
        margin: 0 !important;
    }
}